body{
    background-color: rgb(245,246,247);
}
.cke_chrome{
    display:flex;
    border:1px solid #d1d1d1;padding:0
}
.upload-content h3{
    text-align: center;
    margin-top:20px;
    font-weight: bold;
}
.upload-content hr{
    background-color: rgb(238, 238, 238);
    height: 2px;
    border: 0;
}
.layui-form-item{
    margin-top:20px;
}
.title-input{
    width:30vw;
}