* {
    margin: 0;
    padding: 0;
}
.layui-container{
    min-height:400px;
}
.chat_box{
    padding:20px 20px 5px;
    min-height: 400px;
}
.up_box {
    height: calc(100vh - 80px - 165px);
    background-color: #F4F5F7;
    box-sizing: border-box;
    border: 2px solid rgba(200, 70, 70, 0.3);
    border-bottom: none;
    box-shadow: 0 1px 1px #F2F2F2 ;
    /* border-radius: 4px; */
}
.chat_head{
    height:32px;
    width:100%;
    letter-spacing: 30px;
    font-size:20px;
    line-height: 32px;
    font-weight: 700;
    text-align: center;
    background-color: #F5F5F5;
    box-sizing: border-box;
    border-bottom: #a5a5a5 1px solid;
}
.content_history {
    width:100%;
    height: calc(100% - 32px);
    box-sizing: border-box;
    padding-top:4px;
    overflow: auto;
    min-height: 100px;
}

.down_box {
    height: 165px;
    /* background-color: antiquewhite; */
    box-sizing: border-box;
    border: 2px solid rgba(200, 70, 70, 0.3);
    border-top:none;
}

.toolbar {
    height: 30px;
    width: 100%;
    /* background-color: aqua; */
    box-sizing: border-box;
    padding-left:10px;
}

.my_btn{
    border: none;
    background-color: #FFFFFF;
    height:100%;
    line-height:100%;
    cursor: pointer;
}

.msg_input {
    display: block;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    border:none;
    overflow:auto;
}

.send_bar{
    height:30px;
    box-sizing: border-box;

}
.send_btn{
    float:right;
    box-sizing: border-box;
    margin-right:5px;
    margin-bottom: 5px;
}

.msg_box{
    display:block;
}
.send, .recv{
    padding: 3px 10px;
    width:100%;
    height:auto;
    box-sizing: border-box;
    margin-top:24px;
}
.send *{
    float:right;
}
.recv{
    float:left;
}
.user_head{
    height:24px;
    width:24px;
    vertical-align: top;
}
.content{
    display:inline-block;
    max-width:50%;
    height:auto;
    margin:0 5px;
    background-color: white;
    border-radius: 4px;
    word-wrap: break-word;
    vertical-align: top;
    padding:8px;
}

.user_list_box{
    background-color: #E6E5E5;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    min-width:200px;
    box-sizing: border-box;
    overflow: auto;
}
.user_li{
    position:relative;
    height:60px;
    width:100%;
    box-sizing: border-box;
    padding:4px;
    border-bottom: 1px #d6d5d5 solid;
    cursor: pointer;
}
.user_li:hover{
    background-color: #d6d5d5;;
}
/* .user_li:last-child{
    border-bottom: none;
}
.user_li:first-child{
    border-bottom: 1px #d6d5d5 solid;
} */

.user_li img{
    width:50px;
    height:50px;
    display:inline-block;
}

.user_li .user_name{
    height:50px;
    max-width:50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:inline-block;
    vertical-align: top;
    font-size:18px;
    box-sizing: border-box;
    padding:4px;
}
.user_li .last_time{
    position:absolute;
    top:4px;
    right:4px;
    vertical-align: top;
    box-sizing: border-box;
    padding:4px;
    font-size:12px;
    color:#a5a5a5;
}

.user_li .pre_content{
    height:20px;
    line-height:20px;
    position:absolute;
    padding-left:12px;
    left:50px;
    bottom: 0;
    width:50%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#a0a0a0;
}

.content_history .chat_person{
    height:100%;
    width:100%;
    /* background-color: yellowgreen; */
    overflow: auto;
    display:none;
}

.content_history .chat_show{
    display:inherit;
}

.content_history a{
    color:blue;
}

.service_logout{
    position:fixed;
    right:10px;
    bottom: 10px;
    height:60px;
    width:60px;
    border-radius: 30px;
    background-color: #1E9FFF;
    color:white;
}